:root {
    --colorMain: #e0e5eb;
    --brShadow: -8px -8px 12px rgba(255,255,255,0.4);
    --tlShadow: 8px 8px 12px rgba(0,0,0,0.08);
  }
  body {
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--colorMain);
  }
  
   .main-text {
    color: #e0e5eb;
    font-size: 5em;
    font-family: 'Black Ops One', cursive;
    text-transform: uppercase;
    text-shadow: var(--brShadow), 
                 var(--tlShadow);
    position: relative;
  }